
#content {
  height: 100%;
}

#menu,
#chapter,
#workspace {
  float: left;
  min-height: inherit;
  
  border-width: 1px 5px 1px 0;
  border-style: solid;
}

#menu {
  width: 10%;
  height: 100%;
  background-color: yellow;
}

#chapter {
  width: 45%;
  height: 100%;
  background-color: yellow;
}

#workspace {
  width: 43%;
  height: 100%;
  background-color: yellow;
}